@function grid($cols, $total: 12){
  @return round(($cols / $total) * 100%);
}

div {
  width: grid(4);
}

@function em($pixels, $context: 16){
  @return ($pixels / $context) * 1em;
}

div {
  $width: 600px;
  width: $width;

  @if $width > 400px{
    height: $width * 1.5;
  } @else {
    height: $width;
  }
}

//Bom para usar em tipografias (Máx 6)
@mixin type-1($size) {
  font-family: monospace;
  font-weight: normal;
  @if $size == 16 {
    font-size: 1em;
    font-weight: normal;
  }
  @else if $size == 18 {
    font-size: 1.25em;
    font-weight: normal;
  }
  @else if $size == 25 {
    font-size: 1.5em;
    font-weight: bold;
  }
}

@mixin title-large {
  font-size: 4em;
  font-weight: bold;
  font-family: monospace;
  line-height: 1;
}

//Facilitar o uso de prefixos
@mixin border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box; //Mozilla
  -webkit-box-sizing: border-box; //Safaria e Chrome
}

//Valor default: blue e 100px, quando os mesmos não são passados
@mixin separator($color: blue, $width: 100px) {
  &::after {
    content: '';
    display: block;
    width: $width;
    height: 4px;
    background: $color;
  }
}

//Arguments '...'
@mixin box-shadow($shadow...) {
  box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
}

@mixin mobile {
  //Media query, dispositivo de uso e css customizado
  @media (max-width: 600px) {
    //Usando contexto customizado
    @content;
  }
}

@mixin device($d) {
  @if $d == m {
    @media (max-width: 300px) {
      @content;
    }
  }
  @else if $d == t {
    @media (max-width: 600px) {
      @content;
    }
  }
  @else if $d == s {
    @media (max-width: 900px) {
      @content;
    }
  }
}

div {
  width: 100%;
  @include device(t) {
    width: 80%;
  }
  @include device(m) {
    width: 60%;
  }
}

$theme: oceano;
$prim-color: black;
$secondary-color: gray;

@if $theme == oceano {
  $prim-color: blue;
  $secondary-color: orange;
} @else if $theme == deserto {
  $prim-color: yellow;
  $secondary-color: purple;
}

p {
  color: $prim-color;
  background: $secondary-color;
}

//Distância entre colunas
$gutter: 20px;

div {
  $width: 400px;
  font-size: $width - 2 * $gutter;
  padding: $gutter;
  height: $width / 2;
  background: #333 + #777;
}

//Placeholder
%clearfix::after {
  content: '';
  display: table;
  clear: both;
}

div {
  @extend %clearfix;
}

section {
  @extend %clearfix;
}

.error {
  color: red;
  font-weight: bold;
}

a.error {
  display: block;
}

.button-error {
  //Usar somente quando há somente um uso do seletor no site
  //preferência pelo mixin
  @extend .error;
  padding: 20px;
  width: 200px;
}

$primary-color: blue;
$primary-font: monospace;
$gutter: 30px;

section {
  max-width: 600px;
  margin: 0 auto;
  @include border-box;
}

.modal {
  @include box-shadow(10px 10px 0 0 rgba(0, 0, 0, .5),
          15px 15px 0 0 rgba(0, 0, 0, .5),
          20px 20px 0 0 rgba(0, 0, 0, .5));

  h1 {
    color: $primary-color;
    font-family: $primary-font;
    margin-bottom: $gutter;
    @include title-large;
    @include separator(yellow, 400px);
    @include mobile {
      color: #84E;
      font-size: 2em;
    }
  }

  p {
    font: {
      size: 1.2em;
      family: $primary-font;
      style: italic;
    }
    line-height: 1.4;
    max-width: 400px;
    @include mobile {
      font-size: .6em;
    }
  }

  a {
    display: block;
    max-width: 120px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    background: $primary-color;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $primary-font;
  }
}

ul {
  text-align: center;

  li {
    display: inline-block;
    list-style: none;
    font-size: em(36);

    a {
      display: block;
      padding: 20px;
      text-decoration: none;
      background: blue;
      color: white;
      font-size: em(16, 36);

      &:hover, &.active {
        //lighten(blue, 20%) -- função de cor
        //transparentize -- função para aplicar transparência no elemento
        background: transparentize(blue, .5);
      }
    }
  }
}
